{% extends 'layout.html.twig' %}

{% block title %}Rejestracja nowego użytkownika{% endblock %}

{% block body %}
    <h2>Register</h2>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.username) }}
        {{ form_row(registrationForm.plainPassword) }}
        {{ form_row(registrationForm.imie) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.department) }}

        <button class="btn" type="submit">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
