ul.list-vertical  {
    list-style-type: none;
}

.footer {
    background-color: #f2f2f2;
}
.footer-copyright {
    background-color: #2780e3;
    color: floralwhite;

}
.footer-copyright > a {
    color: floralwhite;
 

}

.body-over {

    height: 100%;
    width: auto;
}