<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ title }}{% endblock %}</title>
        {#<link rel="stylesheet" href="https://bootswatch.com/4/cosmo/bootstrap.min.css">#}
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" /> 
        <link href="{{ asset('css/custom.css') }}" rel="stylesheet" /> 
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {{ include('inc/navbar.html.twig') }}
        <div class="container container-table">
        <div class="body-over">
          
        {% block body %}{% endblock %}
        </div>
        {% block footer %}
      </div>
        <div class="footer">
            <footer class="page-footer font-small blue pt-4">

    
            <div class="container-fluid text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
  
          <!-- Content -->
          <h5 class="text-uppercase">Balticon S.A <br> </h5>
          <p>Nasz dział IT dokłada wszelkich starań aby realizować zgłoszenia jak najszybciej. Prosimy o cierpliwość.</p>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
       
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
          <!-- Links -->
          <h5 class="text-uppercase">Kontakt</h5>
  
          <ul class="list-vertical">
            <li>
              <p>Balticon S.A.</p>
            </li>
            <li>
              <p>ul. Tadeusza Wendy 15, 81-xxx Gdynia</p>
            </li>
            <li>
              <p>tel. 600-600-600</p>
            </li>
            <li>
              <p>pomoc@balticon.pl</p>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
      <a href="https://www.balticon.pl">Balticon S.A</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
</div> 


        
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
