{% extends 'layout.html.twig' %}

{% block body %}


        <div class="row vertical-center-row">
            <div class="text-center col-md-4 col-md-offset-4">


    
                    <table id="tickets" class="table table-striped" size="">
                            <thead>
                                 <tr>             
                                       <td>Zgłoszenie id: {{ticket.id}} </td>
                                              
                                   </tr>
                                   <tr>
                                           <td>Osoba przypisana: {{user}}</td> 
                                   </tr>
                            </thead>
                               <tr>
                                       <td colspan="2">Opis:  {{ticket.description}}</td>   
                                  
                               </tr>
                        
                           </table>
                          

            </div>
            
        </div>
        <a href="/" class="btn btn-dark">Powrót</a>
    





{% endblock %}
