{% extends 'layout.html.twig' %}

{# {% block body %}
<div class="table">
    <h2>Zgłoszenia({{ tickets|length }})</h2>
    {% for ticket in tickets %}
    <div class="ticket">{{ ticket.id }} {{ ticket.date }} {{ ticket.subject }}  {{ ticket.description }}<br></div>
</div> #}

{% block body %}
  {% if tickets %}
    <table id="tickets" class="table table-striped">
      <thead>
        <tr>
          <th>Temat</th>
          <th>Menu</th>
        </tr>
      </thead>
      <tbody>
          <h2>Wszystkie zgłoszenia w systemie:</h2>
        {% for ticket in tickets %}
          <tr>
            <td>{{ ticket.subject }}</td>
            <td>{{ ticket.description }}</td>
            <td>
              <a href="/tickets/{{ticket.id}}" class="btn btn-dark">Wyświetl</a>
              <a href="#" class="btn btn-light">Przypisz</a>
              <a href="#" class="btn btn-danger delete-article" data-id="{{ ticket.id }}">Usuń</a>
            </td>
            <td>Przypisane do: {% if ticket.user is null %}
              {{ '' }}
              {% else %}
              {{ ticket.user.imie }}</td>
              {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>Brak zgłoszeń do wyświetlenia...</p>
  {% endif %}
{% endblock %}



