<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">
    <div class="container">
      <a href="/" class="navbar-brand">BalticonTickets</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile-nav">
        <span class="navbar-toggle-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="mobile-nav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="{{ path ('tickets_list')}}" class="nav-link">All Tickets</a>
          </li>
          <li class="nav-item">
            <a href="{{ path ('user_tickets')}}" class="nav-link">My Tickets</a>
          </li>
          <li class="nav-item"> 
            <a href="{{ path ('stats')}}" class="nav-link">Stats</a>
          </li>
        {% if app.user != null %}
          <li class="nav-item"> 
            <a href="{{ path ('app_logout')}}" class="nav-link">Logout</a>
        </li>
        {% else %}
          <li class="nav-item"> 
          <a href="{{ path ('app_login')}}" class="nav-link">Login</a>
          </li>
        {% endif %}
        <div class="nav-item">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        Zalogowany jako: {{ app.user.username }}
        {% endif %}  
      </div>
      </ul>
      </div>
    </div>
    </nav>